body {
  background: #eee;

  min-width: 250px;
  min-height: 200px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#vu_meter {
  width: 100%;
  height: 30px;
  background: black;
  margin-top: 0.5rem;
}

h1, p {
  margin: 0;
}

.small {
  margin-top: 0;
  margin: 0;
  font-size: 0.6rem;
}

.slidercontainer {
  margin-top: 0.5rem;
}

.btn:hover:after {
  content: " Reset?";
}
.btn {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #999999;
  border-radius: 20px;
  text-align: center;
  position: relative;
  font-size: 1.1em;
}

.btn:hover{
  background-color: rgb(189, 134, 226);
}
.btn:active{
  background-color:#7D0CC9;
  color:#FFFFFF;
}


/* On-Off Switch : https://proto.io/freebies/onoff/ */

.onoffswitch {
  position: relative; width: 90px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
  margin: 5px 0;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #7D0CC9; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE; color: #616161;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 12px; margin: 9px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 56px;
  border: 2px solid #999999; border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}



/* SLIDER : https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slider, .slider-red {
  margin: 10px 0;
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider-red::-webkit-slider-thumb {
  background: #910000;
} 

.slider-red::-moz-range-thumb { 
  background: #910000;
}

.slider::-webkit-slider-thumb, .slider-red::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  cursor: pointer;
}

.slider::-webkit-slider-thumb{
  background: #7D0CC9;
}

.slider::-moz-range-thumb {
  background: #7D0CC9;
}

.slider::-moz-range-thumb, .slider-red::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.sliderval {
  margin-left: 5px;
  color: rgb(82, 7, 133);
}
